body{
    font-family: Arial, Helvetica, sans-serif;
}
.header-top{
    height: 40px;
    background-color: black;
}

.header-top img{
    height: 40px;
    width: 80px;
}
nav{
    height: 80px;
}


.accedi-btn{
    background-color: #363636;
    border-radius: 20px;
    vertical-align: middle;
}