body{
    font-family: Arial, Helvetica, sans-serif;
}
.header-top{
    height: 40px;
    background-color: black;
}

.header-top img{
    height: 40px;
    width: 80px;
}
nav{
    height: 80px;
}
/* nav ul li {
    list-style-type: none;
    display: inline-block;
    
} */

.img-full-screen{
    background-size: cover;
    background-position: center;
    height: 670px;
    background-repeat: no-repeat;
    
}

.my-btn{
    background-color: #363636;
    border-radius: 20px;
    vertical-align: middle;
    display: inline-block;

}

.ms-fs-40{
    font-size: 40px;
}
.img-infobox{
    height: 680px;
    display: flex;
    align-items: flex-end;
}
.my-red-play{
    background-color: #cd3d0f;
} 
#jumbotron .img-full-screen{
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);

}

#cards img{
    width: 80%;
}
#cards .desk-icon img{
    border-radius: 15px;
    padding: 3px;
}

#social .box-social img,
#playstation-now .side-img,
#discounts .desk-sconti img,
#playstation-plus .side-img,
.releases .desk-icon img,
.console img,
.console-device img
{
    width: 100%;  
}
.blue{
    background-color: #2d64e6;
}
.opacity{
    opacity: 0.5;
}

.blue-border-bottom{
    border-bottom: 2px solid #0072ce;

}
#new-releases .img-full-screen{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);

}

#playstation-now .logo-now img,
#new-releases .info-text img,
#playstation-plus .logo-plus img
{
    width: 60%;
}
.lightblue{
    background-color: #d9dadc;
}
.playplus-info,
.play-plus-infobox{
    display: flex;
    align-items: center;
}

#playstation-plus{
    background-color:#bebcbb;
}
#playstation-now {
    background-color: #161c3b;
    color: white;
}

.wmax-800 {
    max-width: 800px;
}

